body
{   
    align-content: center;
    align-items: center;
    display: inline-flex;
}
.box
{
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
    background-color: rgb(225, 166, 240);
    color: rgb(72, 6, 98);
    border: 3px solid black;
    border-radius: 50px;
}
.box1
{
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
    background-color: rgb(98, 192, 254);
    border: 3px dotted black;
    color: rgb(14, 7, 113);
    border-radius: 10px;
}
.box2
{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgb(140, 249, 222);
    border: 3px dotted black;
    color: rgb(36, 74, 3);
    border-radius: 10px;
}
.box3
{
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
    background-color: rgb(245, 233, 173);
    border: 3px dotted black;
    color: rgb(141, 25, 4);
    border-radius: 10px;
}